#about-content {
    background: white;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

#backHomeBtn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font: inherit;
    border-radius: 8px;
}

#backHomeBtn:hover {
    background-color: #0056b3;
    transition: background-color 0.3s ease;
}

#gitHubLink {
    color: black;
    transition: color 0.3s ease;
}

body.dark-mode #gitHubLink {
    color: white;
}

#gitHubLink:hover {
    color: orangered;
}

#gitHubLink1 {
    color: black;
    transition: color 0.3s ease;
}

body.dark-mode #gitHubLink1 {
    color: white;
}

#gitHubLink1:hover {
    color: orangered;
}

body.dark-mode #about-content {
    background: #333;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);
}