#crop-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    max-width: 100%;
    width: 90vw;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;
    transition: background-color 0.3s ease;
}

#upload {
    margin-bottom: 20px;
}

canvas {
    border: 1px solid black;
    max-width: 100%;
    max-height: 100%;
    display: none;
}

#download-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font: inherit;
}

#download-btn:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    #crop-container {
        width: 95%;
    }

}

body.dark-mode #crop-container {
    background-color: #333;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
